@use "../../styles/_variables.scss" as *;

.grid {
  display: grid;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 90vh;
  vertical-align: baseline;
  padding: 15% 0;
  width: 50%;
  margin: auto;

  @media (max-width: 420px) {
    padding: 40% 0;
    width: 98%;
  }

  h1 {
    margin-bottom: 50px;
  }

  .arrow-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    width: 100%;

    i {
      margin-right: 10px;
      font-size: 1.1em;
    }
  }
}
