.products-grid {
  display: grid;
  grid-template-columns: 5fr 4fr;
  column-gap: 50px;
  padding-top: 15%;
}

.description {
  display: flex;
  flex-direction: column;

  .nums {
    font-size: 2em;
  }

  p {
  }
}
